[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "1.4.2"
emoji = "*"
psycopg2 = "*"
requests = "*"
pendulum = "==2.1.2"
isodate = "*"
numpy = "1.22.4"
sqlalchemy = "==1.4.36"
openpyxl = "*"
pymongo = "==4.2.0"
pyyaml = "==6.0"
pygsheets = "==2.0.5"
pyodbc = "==4.0.34"
pymysql = "==1.0.2"

[dev-packages]

[requires]
python_version = "3.8"
